@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

  .clip-path-polygon {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .text-full {
    font-size: 15rem;
  }

  .text-l {
    font-size: 8rem;
  }

  .text-mid {
    font-size: 3rem;
  }

  .min-h-1-2 {
    min-height: 50%;
  }

  .logo:hover span {
    max-width: 100%;
  }

  .padding-parallax {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .padding-parallax-before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
  }

  .colorchange::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid black;
  }
  .colorchange::-moz-color-swatch {
    border-radius: 50%;
    border: 2px solid black;
    /* border: none; */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hidescrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hidescrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.swiper-button-prev {
  &:after {
    content: url('../public/arrow-prev-white.svg') !important;
  }
}
.swiper-button-next {
  &:after {
    content: url('../public/arrow-white.svg') !important;
  }
}